[Desktop Entry]
Version=1.0
Type=Application
Name=MgetZls
Comment=
Exec=/home/soleil/MgetZls.sh
Icon=applications-office
Path=
Terminal=true
StartupNotify=false
