[Desktop Entry]
Version=1.0
Type=Application
Name=MgetZig
Comment=
Exec=/home/soleil/MgetZig.sh
Icon=applications-office
Path=
Terminal=true
StartupNotify=false
